body
{
	background-color: #eeeeee;
	font-family: 'Lato', sans-serif;	
}

#loginPanel
{
	position: relative;
	top: 200px;
	background-color: #dddddd;
	padding: 20px;
}

#cancel
{
	position: relative;
	left: 94px;
	top: -38px;
}

#cancelPass
{
	position: relative;
	left: 142px;
	top: -37px;
}

#cancelEmployee
{
	position: relative;
	left: 203px;
	top: -38px;
}

#cancelShift
{
	position: relative;
	left: 147px;
	top: -37px;
}

#cancelGive
{
	position: relative;
	left: 89px;
	top: -53px;
}

#cancelReceive
{
	position: relative;
	left: 105px;
	top: -53px;
}

#cancelEditShift
{
	position: relative;
	left: 128px;
	top: -37px;
}

#cancelDelete
{
	position: relative;
	left: 128px;
	top: -37px;
}

#confirm_pass
{
	background-color: #dddddd;
}


