body
{
	background-color: #eeeeee;
	font-family: 'Lato', sans-serif;	
}

#loginPanel
{
	position: relative;
	top: 100px;
	background-color: #dddddd;
	padding: 20px;
}

#nameWebApplication
{
	position: relative;
	text-align: center;
	top: 50px;
	padding: 20px;
	font-size: 60px;
}

a
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	color: #000000;
}

a:focus
{
	color: #000000;
}

#confirm_pass
{
	background-color: #dddddd;
}
